@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    display: none;
}
body:hover{
    cursor: default;
}



/***Sections***/

section{
    width: 100%;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1640px;
    margin: auto;
}



/***navbar***/

#navbar{
    position: sticky;
    z-index: 100;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 1px solid rgba(161, 161, 161, 0.479);
    justify-content: space-between;
}



#navbarSupportedContent a{
    color: black;
    border-bottom: 2px solid transparent;
    font-size: 1rem;
    margin-right: 0.9rem;
}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid;
    font-weight: bold;
}
#navbarSupportedContent a span{
    font-size: 0.6rem;
}
#navbarSupportedContent button{
    color: black;
    background-color: white;
    border: none;
    outline: none;
    font-size: 1rem;
}
#navbarSupportedContent button:hover{
    color: white;
    background-color: black;
    border: none;
}

#navbarSupportedContent .signup-text{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}




/****Home****/

#home{
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)), url(images/org.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
}
#home img{
    width: 5rem;
    margin-top: -5rem;
}
#home .home-box{
    align-items: center;
}

#home h1{
    font-size: 2.5rem;
    color: rgb(255, 247, 247);
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;      
}
#home p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: bold;
    padding-bottom: 240px;
    text-align: center;
}



/***About***/
#about .slide{
    margin-top: 80px;
}
#about{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)), url(images/home-img.jpg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: stretch;
}
#about h1{
    font-weight: bold;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
#about p{
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.2rem;
    border-style: none;
    box-shadow: 15px 15px 10px rgba(10, 10, 10, 0.5);
}



/* Initiatives */

#initiatives{
    background-color: white;
}
#initiatives .box{
    color: rgb(146, 141, 141);
}
#initiatives h1{
    font-weight: 800;
    color: rgb(26, 26, 102);
    padding-top: 50px;
    margin-bottom: 45px;
}
#initiatives h5{
    font-weight: bold;
    color: rgb(26, 26, 102);
}
#initiatives-galary{
    background-color: rgba(28, 55, 206, 0.288);
}
#initiatives-galary .box-div{
    background-color: white;
}


/* bordofdirectors */

.bordofdirectors{
    width: 95%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    flex-direction: column;
    justify-content: flex-start;
}
.bordofdirectors h1{
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 800;
    color: rgb(26, 26, 102);
}
.bordofdirectors .imgs-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    flex-wrap: wrap;
}
.bordofdirectors .imgs-div .img-box{
    width: 14rem;
    height: 20rem;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.274);
}
.bordofdirectors .imgs-div img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    margin-bottom: 1.5rem;
}
.bordofdirectors .imgs-div p{
    text-align: center;
    font-size: 0.7rem;
    color: rgb(14, 14, 92);
}
.bordofdirectors .imgs-div p span{
    display: block;
}


/* org-structure */
.org-structure{
    background-color: rgba(28, 55, 206, 0.288);
}
.org-structure h1{
    font-weight: 800;
    color: rgb(26, 26, 102);
}
.org-structure .carousel-inner{
    width: 65%;
    margin: auto;
}


/***Our divisions***/

#ourdivisions{
    background-color: rgb(255, 255, 255);
}
#ourdivisions h1{
    font-weight: 800;
    color: rgb(26, 26, 102);
    padding-top: 0%;
    margin-bottom: 5%;
}
#ourdivisions h5{
    font-weight: bold;
}



/****contact***/

#contact{
    background-color: rgba(28, 55, 206, 0.288);
}
#contact .vd{
    display: flex;
    align-items: center;
    padding: 3rem;
}
#contact .cnt{
    padding: 3rem;
}
#contact h1{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2rem;
    color: rgb(26, 26, 102);
}
.contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 16rem;
    margin: auto;
}
.contacts .ct{
    display: flex;
    gap: 5%;
}
.contacts .ct i{
    font-size: 1.2rem;
}
#contact p{
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin: 0;
    font-weight: 600;
}
#contact h4{
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}
#contact .social-icon{
    font-size: 1.5rem;
    color: black;
    margin-left: 0.5rem;
    text-decoration: none;
}
.facebook:hover{
    color: blue;
}
.linkedin:hover{
    color: rgb(5, 5, 161);
}
.instagram:hover{
    color: rgb(236, 78, 4);
}
.twitter:hover{
    color: rgb(84, 84, 255);
}
.whatsapp:hover{
    color: rgb(15, 151, 2);
}
.youtube:hover{
    color: rgb(235, 37, 2);
}


.footer{
    width: 100%;
    max-width: 1640px;
    padding:  15px;
    margin: 0 auto;
    border-top: 1px solid white;
    background-color: rgba(28, 55, 206, 0.288);
}
.footer p{
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
    color: rgb(65, 65, 65);
}
.footer span{
    font-weight: 700;
}


.to-up{
    position: fixed;
    background-color: rgb(255, 255, 255);
    bottom: 5%;
    right: 5%;
    padding: 0.6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    color: blue;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .7s;
}
.to-up.active{
    bottom: 32px;
    opacity: 1;
    pointer-events: auto;
}





@media (max-width: 425px) {
    #contact{
        padding: 2rem 0;
    }
    #contact .vd{
        padding: 25px;
    }
    #contact .cnt{
        padding: 15px;
    }
    .footer p{
        font-size: 0.5rem;
    }
}
